<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>QSONE Civil Consulting</title>

        <div th:replace="fragments/header :: header-css"/>

    </head>
    <body>
        <div th:replace="fragments/header :: header"/>
        <section class="is-title-bar">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
                <ul>
                <li>Admin</li>
                <li>Dashboard</li>
                </ul>
            </div>
        </section>
        <section class="section main-section">
            <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6">
                Welcome Page
                <a th:href="@{/qsone/property/add}" class="nav-link">Add Property</a>
            </div>
        </section>
        <div th:replace="fragments/footer :: footer"/>
        <!-- Scripts below are for demo only -->
        <script type="text/javascript" src="/js/qsone/main.min.js?v=1628755089081"></script>

        <!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">

    </body>
    
</html>